@page "/{culture}/Auth/ForgetPassword"
@model SinaShop.WebApp.Pages.Auth.RecoveryPassword.ForgetPasswordModel

@{
    ViewData["Title"] = "";
    Layout = "~/Pages/Shared/_MainLayout.cshtml";
}
<div class="main-container container">
    <ul class="breadcrumb">
        <li><a href="login.html#"><i class="fa fa-home"></i></a></li>
        <li><a href="login.html#">Account</a></li>
        <li><a href="login.html#">Login</a></li>
    </ul>

    <div class="row">
        <div id="content" class="col-sm-12">
            <div class="page-login">

                <div class="account-border">
                    <div class="row">
                        <div class="col-sm-6 new-customer">
                            <div class="well">
                                <h2><i class="fa fa-file-o" aria-hidden="true"></i> New Customer</h2>
                                <p>By creating an account you will be able to shop faster, be up to date on an order's status, and keep track of the orders you have previously made.</p>
                            </div>
                            <div class="bottom-form">
                                <a href="login.html#" class="btn btn-default pull-right">Continue</a>
                            </div>
                        </div>

                        <form id="FrmForgetPassword">
                            @Html.AntiForgeryToken()
                            <div class="col-sm-6 customer-login">
                                <div class="well">
                                    <h2><i class="fa fa-file-text-o" aria-hidden="true"></i> Returning Customer</h2>
                                    <p><strong>I am a returning customer</strong></p>

                                    <div class="form-group">
                                        <label class="control-label " asp-for="input.Email"></label>
                                        <input asp-for="input.Email" class="form-control" />
                                    </div>

                                </div>
                                <div class="bottom-form">
                                    <a href="/@CultureInfo.CurrentCulture.Parent.Name/Auth/LogIn" class="forgot">@Localizer["LogIn"]</a>
                                    <button type="button" onclick="SendForm('/@CultureInfo.CurrentCulture.Parent.Name/Auth/ForgetPassword','FrmForgetPassword')"
                                            class="btn btn-default pull-right">
                                        @Localizer["SendCode"]
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<script>
    function goToReturnUrl()
    {
        location.href='@ViewData["ReturnUrl"]';
    }
</script>
