@font-face {
    font-family: "IranYekan";
    font-weight: 100;
    src: url("/main/fonts/IranYekan/100/f9b12859.eot") format("embedded-opentype"), url("/main/fonts/IranYekan/100/f78b74c5.woff") format("woff"), url("/main/fonts/IranYekan/100/11627467.ttf") format("truetype");
}

@font-face {
    font-family: "IranYekan";
    font-weight: 300;
    src: url("/main/fonts/IranYekan/300/699085bd.eot") format("embedded-opentype"), url("/main/fonts/IranYekan/300/088dfe8a.woff") format("woff"), url("/main/fonts/IranYekan/300/2c83275a.ttf") format("truetype"), url("/main/fonts/IranYekan/300/a80f71ff.woff2") format("woff2");
}

@font-face {
    font-family: "IranYekan";
    font-weight: 400;
    src: url("/main/fonts/IranYekan/400/5bea6c32.eot") format("embedded-opentype"), url("/main/fonts/IranYekan/400/56a1baa4.woff") format("woff"), url("/main/fonts/IranYekan/400/79533773.ttf") format("truetype"), url("/main/fonts/IranYekan/400/1fdcadec.woff2") format("woff2");
}

@font-face {
    font-family: "IranYekan";
    font-weight: 500;
    src: url("/main/fonts/IranYekan/500/6a51276d.eot") format("embedded-opentype"), url("/main/fonts/IranYekan/500/492984b8.woff") format("woff"), url("/main/fonts/IranYekan/500/6387a14a.ttf") format("truetype");
}

@font-face {
    font-family: "IranYekan";
    font-weight: 600;
    src: url("/main/fonts/IranYekan/600/7c912e00.eot") format("embedded-opentype"), url("/main/fonts/IranYekan/600/2d7cc7cd.woff") format("woff"), url("/main/fonts/IranYekan/600/a7d41f91.ttf") format("truetype"), url("/main/fonts/IranYekan/600/fe12f13a.woff2") format("woff2");
}

@font-face {
    font-family: "IranYekan";
    font-weight: 700;
    src: url("/main/fonts/IranYekan/800/5b8cfc1c.eot") format("embedded-opentype"), url("/main/fonts/IranYekan/800/76ccefec.woff") format("woff"), url("/main/fonts/IranYekan/800/44b6abc1.ttf") format("truetype");
}

@font-face {
    font-family: "IranYekan";
    font-weight: 700;
    src: url("/main/fonts/IranYekan/900/e2d75f96.eot") format("embedded-opentype"), url("/main/fonts/IranYekan/900/b5c0daaf.woff") format("woff"), url("/main/fonts/IranYekan/900/5f989680.ttf") format("truetype");
}
